$backgrond: #080808;
* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    border: 1px solid yellow;
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 35px 40px 48px 40px;
    background-color: $backgrond;
    #left-box {
        border: 2px solid red;
        .access-menu {
            display: flex;
            flex-direction: column;
            margin-top: 48px;
            #dashboard {
                display: flex;
                background: linear-gradient(101.05deg, #1f8ebe -5.36%, #440495 29.46%, #440495 56.03%, #b102cd 81.92%);
                width: 233px;
                height: 56px;
                border-radius: 16px;
                img {
                    padding: 16px 0px 16px 25px;
                }
                p {
                    font: normal 500 18px/ 22px "Inter, sans-serif";
                    color: #fff;
                    padding: 16px 71px 18px 19px;
                }
            }
            #trade {
                display: flex;
                width: 233px;
                height: 56px;
                border-radius: 16px;
                margin-top: 36px;
                img {
                    padding: 16px 0px 16px 25px;
                }
                p {
                    font: normal 500 18px/ 22px "Inter, sans-serif";
                    color: #fff;
                    padding: 16px 71px 18px 19px;
                }
            }
            #deposits {
                display: flex;
                width: 233px;
                height: 56px;
                border-radius: 16px;
                img {
                    padding: 16px 0px 16px 25px;
                }
                p {
                    font: normal 500 18px/ 22px "Inter, sans-serif";
                    color: #fff;
                    padding: 16px 71px 18px 19px;
                }
            }
            #protocols {
                display: flex;
                width: 233px;
                height: 56px;
                border-radius: 16px;
                img {
                    padding: 16px 0px 16px 25px;
                }
                p {
                    font: normal 500 18px/ 22px "Inter, sans-serif";
                    color: #fff;
                    padding: 16px 71px 18px 19px;
                }
            }
            #settings {
                display: flex;
                width: 233px;
                height: 56px;
                border-radius: 16px;
                img {
                    padding: 16px 0px 16px 25px;
                }
                p {
                    font: normal 500 18px/ 22px "Inter, sans-serif";
                    color: #fff;
                    padding: 16px 71px 18px 19px;
                }
            }
            #profile {
                display: flex;
                width: 233px;
                height: 56px;
                border-radius: 16px;
                img {
                    padding: 16px 0px 16px 25px;
                }
                p {
                    font: normal 500 18px/ 22px "Inter, sans-serif";
                    color: #fff;
                    padding: 16px 71px 18px 19px;
                }
            }
        }
        .exit-button {
            display: flex;
            width: 233px;
            height: 56px;
            align-self: flex-end;
            // margin-top: 436px;
            border-radius: 16px;
            img {
                padding: 16px 0px 16px 25px;
            }
            a {
                font: normal 500 18px/ 22px "Inter, sans-serif";
                text-decoration: none;
                padding: 16px 71px 18px 19px;
                color: #fff;
            }
            &:hover {
                background: linear-gradient(101.05deg, #1f8ebe -5.36%, #440495 29.46%, #440495 56.03%, #b102cd 81.92%);
                border-radius: 16px;
            }
        }
    }
    // #center-box {
    //   width: 100px;
    //   background-color: green;
    // }
    #right-box {
        display: flex;
        flex-direction: column;
        border: 2px solid yellow;
        #user {
            display: flex;
            justify-content: flex-end;
        }
        .chain-allocation {
            display: flex;
            flex-direction: column;
            border: 2px dashed #1f8ebe;
            h4 {
                font: normal 500 18px/ 22px "Inter, sans-serif";
                color: #fff;
                padding: 30px 114px 20px 30px;
            }
            #bitcoin {
                display: flex;
                // flex-direction: column;
                img {
                    padding: 20px 12px 14px 30px;
                }
                p {
                    font: normal 600 16px/ 19px "Inter, sans-serif";
                    color: #fff;
                    padding: 20px 66px 20px 12px;
                }
                #color-bar {
                    display: flex;
                    // flex-wrap: wrap;
                    width: 168px;
                    height: 8px;
                    background: linear-gradient(268.5deg, #FB03F5 -11.69%, #AA9CFF 112.48%);
                    border-radius: 100px;
                }
            }
        }
    }
}