* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  border: 1px solid yellow;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 42px 40px 48px 40px;
  background-color: #080808;
}

.container #left-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container #left-box .access-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 48px;
}

.container #left-box .access-menu #dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(101.05deg, #1f8ebe -5.36%, #440495 29.46%, #440495 56.03%, #b102cd 81.92%);
  width: 233px;
  height: 56px;
  border-radius: 16px;
}

.container #left-box .access-menu #dashboard img {
  padding: 16px 0px 16px 25px;
}

.container #left-box .access-menu #dashboard p {
  font: normal 500 18px/ 22px "Inter, sans-serif";
  color: #fff;
  padding: 16px 71px 18px 19px;
}

.container #left-box .access-menu #trade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 233px;
  height: 56px;
  border-radius: 16px;
  margin-top: 36px;
}

.container #left-box .access-menu #trade img {
  padding: 16px 0px 16px 25px;
}

.container #left-box .access-menu #trade p {
  font: normal 500 18px/ 22px "Inter, sans-serif";
  color: #fff;
  padding: 16px 71px 18px 19px;
}

.container #left-box .access-menu #trade:hover {
  cursor: pointer;
  background: linear-gradient(101.05deg, #1f8ebe -5.36%, #440495 29.46%, #440495 56.03%, #b102cd 81.92%);
  border-radius: 16px;
}

.container #left-box .access-menu #deposits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 233px;
  height: 56px;
  border-radius: 16px;
}

.container #left-box .access-menu #deposits img {
  padding: 16px 0px 16px 25px;
}

.container #left-box .access-menu #deposits p {
  font: normal 500 18px/ 22px "Inter, sans-serif";
  color: #fff;
  padding: 16px 71px 18px 19px;
}

.container #left-box .access-menu #deposits:hover {
  cursor: pointer;
  background: linear-gradient(101.05deg, #1f8ebe -5.36%, #440495 29.46%, #440495 56.03%, #b102cd 81.92%);
  border-radius: 16px;
}

.container #left-box .access-menu #protocols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 233px;
  height: 56px;
  border-radius: 16px;
}

.container #left-box .access-menu #protocols img {
  padding: 16px 0px 16px 25px;
}

.container #left-box .access-menu #protocols p {
  font: normal 500 18px/ 22px "Inter, sans-serif";
  color: #fff;
  padding: 16px 71px 18px 19px;
}

.container #left-box .access-menu #protocols:hover {
  cursor: pointer;
  background: linear-gradient(101.05deg, #1f8ebe -5.36%, #440495 29.46%, #440495 56.03%, #b102cd 81.92%);
  border-radius: 16px;
}

.container #left-box .access-menu #settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 233px;
  height: 56px;
  border-radius: 16px;
}

.container #left-box .access-menu #settings img {
  padding: 16px 0px 16px 25px;
}

.container #left-box .access-menu #settings p {
  font: normal 500 18px/ 22px "Inter, sans-serif";
  color: #fff;
  padding: 16px 71px 18px 19px;
}

.container #left-box .access-menu #settings:hover {
  cursor: pointer;
  background: linear-gradient(101.05deg, #1f8ebe -5.36%, #440495 29.46%, #440495 56.03%, #b102cd 81.92%);
  border-radius: 16px;
}

.container #left-box .access-menu #profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 233px;
  height: 56px;
  border-radius: 16px;
  cursor: pointer;
}

.container #left-box .access-menu #profile img {
  padding: 16px 0px 16px 25px;
}

.container #left-box .access-menu #profile p {
  font: normal 500 18px/ 22px "Inter, sans-serif";
  color: #fff;
  padding: 16px 71px 18px 19px;
}

.container #left-box .access-menu #profile:hover {
  cursor: pointer;
  background: linear-gradient(101.05deg, #1f8ebe -5.36%, #440495 29.46%, #440495 56.03%, #b102cd 81.92%);
  border-radius: 16px;
}

.container #left-box #box-exit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 50%;
}

.container #left-box #box-exit-button .exit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 233px;
  height: 56px;
  border-radius: 16px;
}

.container #left-box #box-exit-button .exit-button img {
  padding: 16px 0px 16px 25px;
}

.container #left-box #box-exit-button .exit-button a {
  font: normal 500 18px/ 22px "Inter, sans-serif";
  text-decoration: none;
  padding: 16px 71px 18px 19px;
  color: #fff;
}

.container #left-box #box-exit-button .exit-button:hover {
  background: linear-gradient(101.05deg, #1f8ebe -5.36%, #440495 29.46%, #440495 56.03%, #b102cd 81.92%);
  border-radius: 16px;
}

.container #right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container #right-box #user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container #right-box .progress-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 36px;
  padding: 20px 30px 20px 30px;
  background: #1c1c1c;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
  border-radius: 16px;
}

.container #right-box .progress-box .chain-allocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.container #right-box .progress-box .chain-allocation h4 {
  font: normal 500 18px/ 22px "Inter, sans-serif";
  color: #fff;
}

.container #right-box .progress-box #bitcoin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 224px;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
}

.container #right-box .progress-box #bitcoin .bitcoin-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container #right-box .progress-box #bitcoin .bitcoin-data #bitcoin-name-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container #right-box .progress-box #bitcoin .bitcoin-data #bitcoin-name-logo p {
  font: normal 600 16px/ 19px "Inter, sans-serif";
  color: #fff;
  padding: 0 0 0 12px;
}

.container #right-box .progress-box #bitcoin .bitcoin-data #bitcoin-values p {
  font: normal 600 16px/ 19px "Inter, sans-serif";
  color: #fff;
}

.container #right-box .progress-box #bitcoin .progress-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container #right-box .progress-box #bitcoin .progress-data #progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 168px;
  height: 8px;
  background-color: #353535;
  border-radius: 100px;
}

.container #right-box .progress-box #bitcoin .progress-data #progress-bar #bar-bitcoin {
  width: 71.68%;
  background: linear-gradient(268.5deg, #fb03f5 -11.69%, #aa9cff 112.48%);
  border-radius: 100px;
}

.container #right-box .progress-box #bitcoin .progress-data #progress-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-left: 8px;
}

.container #right-box .progress-box #bitcoin .progress-data #progress-values p {
  font: normal 500 14px/ 19px "Inter, sans-serif";
  color: #fff;
}

.container #right-box .progress-box #ethereum {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 224px;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  margin-top: 20px;
}

.container #right-box .progress-box #ethereum .ethereum-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container #right-box .progress-box #ethereum .ethereum-data #ethereum-name-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container #right-box .progress-box #ethereum .ethereum-data #ethereum-name-logo img {
  background: -webkit-gradient(linear, left top, left bottom, from(#5cff9c), to(#00ffa3));
  background: linear-gradient(180deg, #5cff9c 0%, #00ffa3 100%);
  border-radius: 100px;
}

.container #right-box .progress-box #ethereum .ethereum-data #ethereum-name-logo p {
  font: normal 600 16px/ 19px "Inter, sans-serif";
  color: #fff;
  padding: 0 0 0 12px;
}

.container #right-box .progress-box #ethereum .ethereum-data #ethereum-values p {
  font: normal 600 16px/ 19px "Inter, sans-serif";
  color: #fff;
}

.container #right-box .progress-box #ethereum .progress-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container #right-box .progress-box #ethereum .progress-data #progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 168px;
  height: 8px;
  background-color: #353535;
  border-radius: 100px;
}

.container #right-box .progress-box #ethereum .progress-data #progress-bar #bar-ethereum {
  width: 71.68%;
  background: -webkit-gradient(linear, left top, left bottom, from(#5cff9c), to(#00ffa3));
  background: linear-gradient(180deg, #5cff9c 0%, #00ffa3 100%);
  border-radius: 100px;
}

.container #right-box .progress-box #ethereum .progress-data #progress-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 17px;
  margin-left: 8px;
}

.container #right-box .progress-box #ethereum .progress-data #progress-values p {
  font: normal 500 14px/ 19px "Inter, sans-serif";
  color: #fff;
}

.container #right-box .progress-box #shiba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 224px;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  margin-top: 20px;
}

.container #right-box .progress-box #shiba .shiba-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container #right-box .progress-box #shiba .shiba-data #shiba-name-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container #right-box .progress-box #shiba .shiba-data #shiba-name-logo p {
  font: normal 600 16px/ 19px "Inter, sans-serif";
  color: #fff;
  padding: 0 0 0 12px;
}

.container #right-box .progress-box #shiba .shiba-data #shiba-values p {
  font: normal 600 16px/ 19px "Inter, sans-serif";
  color: #fff;
}

.container #right-box .progress-box #shiba .progress-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container #right-box .progress-box #shiba .progress-data #progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 168px;
  height: 8px;
  background-color: #353535;
  border-radius: 100px;
}

.container #right-box .progress-box #shiba .progress-data #progress-bar #bar-shiba {
  width: 71.68%;
  background: linear-gradient(268.5deg, #fb035c -11.69%, #fa9fa5 112.48%);
  border-radius: 100px;
}

.container #right-box .progress-box #shiba .progress-data #progress-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-left: 8px;
}

.container #right-box .progress-box #shiba .progress-data #progress-values p {
  font: normal 500 14px/ 17px "Inter, sans-serif";
  color: #fff;
}

.container #right-box .progress-box #solona {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 224px;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  margin-top: 20px;
}

.container #right-box .progress-box #solona .solona-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container #right-box .progress-box #solona .solona-data #solona-name-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container #right-box .progress-box #solona .solona-data #solona-name-logo p {
  font: normal 600 16px/ 19px "Inter, sans-serif";
  color: #fff;
  padding: 0 0 0 12px;
}

.container #right-box .progress-box #solona .solona-data #solona-values p {
  font: normal 600 16px/ 19px "Inter, sans-serif";
  color: #fff;
}

.container #right-box .progress-box #solona .progress-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container #right-box .progress-box #solona .progress-data #progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 168px;
  height: 8px;
  background-color: #353535;
  border-radius: 100px;
}

.container #right-box .progress-box #solona .progress-data #progress-bar #bar-solona {
  width: 71.68%;
  background: linear-gradient(268.5deg, #fb03f5 -11.69%, #aa9cff 112.48%);
  border-radius: 100px;
}

.container #right-box .progress-box #solona .progress-data #progress-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-left: 8px;
}

.container #right-box .progress-box #solona .progress-data #progress-values p {
  font: normal 500 14px/ 17px "Inter, sans-serif";
  color: #fff;
}

.container #right-box .progress-box #tether {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 224px;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  margin-top: 20px;
}

.container #right-box .progress-box #tether .tether-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container #right-box .progress-box #tether .tether-data #tether-name-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container #right-box .progress-box #tether .tether-data #tether-name-logo p {
  font: normal 600 16px/ 19px "Inter, sans-serif";
  color: #fff;
  padding: 0 0 0 12px;
}

.container #right-box .progress-box #tether .tether-data #tether-values p {
  font: normal 600 16px/ 19px "Inter, sans-serif";
  color: #fff;
}

.container #right-box .progress-box #tether .progress-data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container #right-box .progress-box #tether .progress-data #progress-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 168px;
  height: 8px;
  background-color: #353535;
  border-radius: 100px;
}

.container #right-box .progress-box #tether .progress-data #progress-bar #bar-tether {
  width: 71.68%;
  background: linear-gradient(268.5deg, #50af95 -11.69%, #00ffb9 112.48%);
  border-radius: 100px;
}

.container #right-box .progress-box #tether .progress-data #progress-values {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
  margin-left: 8px;
}

.container #right-box .progress-box #tether .progress-data #progress-values p {
  font: normal 500 14px/ 17px "Inter, sans-serif";
  color: #fff;
}

.container #right-box .progress-box #button {
  width: 224px;
  height: 39px;
  margin-top: 32px;
  background-color: #282828;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  font: normal 500 16px/ 19px "Inter, sans-serif";
  color: #fff;
}

.container #right-box .join {
  padding: 5px 7px 6px 7px;
  margin-top: 30px;
  background-color: #1c1c1c;
  border-radius: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container #right-box .join h4 {
  margin-top: 5px;
  font: normal 700 16px/ 19px "Inter, sans-serif";
  color: #fff;
}

.container #right-box .join p {
  margin-top: 3px;
  font: normal 400 10px/ 19px "Inter, sans-serif";
  color: #fff;
}

.container #right-box .join #join-button {
  margin-top: 6px;
  padding: 10px 80px 9px 79px;
  cursor: pointer;
  border: none;
  background-color: #282828;
  border-radius: 12px;
  color: #fff;
}
/*# sourceMappingURL=main.css.map */