* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  border: 1px solid yellow;
  width: 100vw;
  height: 100vh;
}

.container {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 35px 40px 48px 40px;
  background-color: #080808;
}

.container #left-box {
  border: 2px solid red;
}

.container #left-box .access-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 48px;
}

.container #left-box .access-menu #dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: linear-gradient(101.05deg, #1f8ebe -5.36%, #440495 29.46%, #440495 56.03%, #b102cd 81.92%);
  width: 233px;
  height: 56px;
  border-radius: 16px;
}

.container #left-box .access-menu #dashboard img {
  padding: 16px 0px 16px 25px;
}

.container #left-box .access-menu #dashboard p {
  font: normal 500 18px/ 22px "Inter, sans-serif";
  color: #fff;
  padding: 16px 71px 18px 19px;
}

.container #left-box .access-menu #trade {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 233px;
  height: 56px;
  border-radius: 16px;
  margin-top: 36px;
}

.container #left-box .access-menu #trade img {
  padding: 16px 0px 16px 25px;
}

.container #left-box .access-menu #trade p {
  font: normal 500 18px/ 22px "Inter, sans-serif";
  color: #fff;
  padding: 16px 71px 18px 19px;
}

.container #left-box .access-menu #deposits {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 233px;
  height: 56px;
  border-radius: 16px;
}

.container #left-box .access-menu #deposits img {
  padding: 16px 0px 16px 25px;
}

.container #left-box .access-menu #deposits p {
  font: normal 500 18px/ 22px "Inter, sans-serif";
  color: #fff;
  padding: 16px 71px 18px 19px;
}

.container #left-box .access-menu #protocols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 233px;
  height: 56px;
  border-radius: 16px;
}

.container #left-box .access-menu #protocols img {
  padding: 16px 0px 16px 25px;
}

.container #left-box .access-menu #protocols p {
  font: normal 500 18px/ 22px "Inter, sans-serif";
  color: #fff;
  padding: 16px 71px 18px 19px;
}

.container #left-box .access-menu #settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 233px;
  height: 56px;
  border-radius: 16px;
}

.container #left-box .access-menu #settings img {
  padding: 16px 0px 16px 25px;
}

.container #left-box .access-menu #settings p {
  font: normal 500 18px/ 22px "Inter, sans-serif";
  color: #fff;
  padding: 16px 71px 18px 19px;
}

.container #left-box .access-menu #profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 233px;
  height: 56px;
  border-radius: 16px;
}

.container #left-box .access-menu #profile img {
  padding: 16px 0px 16px 25px;
}

.container #left-box .access-menu #profile p {
  font: normal 500 18px/ 22px "Inter, sans-serif";
  color: #fff;
  padding: 16px 71px 18px 19px;
}

.container #left-box .exit-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 233px;
  height: 56px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-radius: 16px;
}

.container #left-box .exit-button img {
  padding: 16px 0px 16px 25px;
}

.container #left-box .exit-button a {
  font: normal 500 18px/ 22px "Inter, sans-serif";
  text-decoration: none;
  padding: 16px 71px 18px 19px;
  color: #fff;
}

.container #left-box .exit-button:hover {
  background: linear-gradient(101.05deg, #1f8ebe -5.36%, #440495 29.46%, #440495 56.03%, #b102cd 81.92%);
  border-radius: 16px;
}

.container #right-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px solid yellow;
}

.container #right-box #user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.container #right-box .chain-allocation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 2px dashed #1f8ebe;
}

.container #right-box .chain-allocation h4 {
  font: normal 500 18px/ 22px "Inter, sans-serif";
  color: #fff;
  padding: 30px 114px 20px 30px;
}

.container #right-box .chain-allocation #bitcoin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container #right-box .chain-allocation #bitcoin img {
  padding: 20px 12px 14px 30px;
}

.container #right-box .chain-allocation #bitcoin p {
  font: normal 600 16px/ 19px "Inter, sans-serif";
  color: #fff;
  padding: 20px 66px 20px 12px;
}

.container #right-box .chain-allocation #bitcoin #color-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 168px;
  height: 8px;
  background: linear-gradient(268.5deg, #FB03F5 -11.69%, #AA9CFF 112.48%);
  border-radius: 100px;
}
/*# sourceMappingURL=main.css.map */