$backgrond: #080808;

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    border: 1px solid yellow;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    padding: 42px 40px 48px 40px;
    background-color: $backgrond;

    #left-box {
        display: flex;
        flex-direction: column;
        // align-items: center;
        // justify-content: space-between;
        // border: 2px solid red;
        // width: 25vw;
        // height: 90vh;
        // #logo {
        // border: 2px solid red;
        //     width: 25vw;
        // }
        .access-menu {
            display: flex;
            flex-direction: column;
            // height: 50vh;
            // justify-content: space-between;
            // border: 2px solid red;
            margin-top: 48px;

            #dashboard {
                display: flex;
                // border: 2px solid red;
                background: linear-gradient(101.05deg, #1f8ebe -5.36%, #440495 29.46%, #440495 56.03%, #b102cd 81.92%);
                // width: 15vw;
                width: 233px;
                height: 56px;
                border-radius: 16px;
                img {
                    padding: 16px 0px 16px 25px;
                }
                p {
                    font: normal 500 18px/ 22px "Inter, sans-serif";
                    color: #fff;
                    padding: 16px 71px 18px 19px;
                }
            }

            #trade {
                display: flex;
                // border: 2px solid red;
                // width: 15vw;
                width: 233px;
                height: 56px;
                border-radius: 16px;
                margin-top: 36px;
                img {
                    padding: 16px 0px 16px 25px;
                }
                p {
                    font: normal 500 18px/ 22px "Inter, sans-serif";
                    color: #fff;
                    padding: 16px 71px 18px 19px;
                }

                &:hover {
                    cursor: pointer;
                    background: linear-gradient(
                        101.05deg,
                        #1f8ebe -5.36%,
                        #440495 29.46%,
                        #440495 56.03%,
                        #b102cd 81.92%
                    );
                    border-radius: 16px;
                }
            }

            #deposits {
                // width: 15vw;
                display: flex;
                // border: 2px solid red;
                width: 233px;
                height: 56px;
                border-radius: 16px;
                img {
                    padding: 16px 0px 16px 25px;
                }
                p {
                    font: normal 500 18px/ 22px "Inter, sans-serif";
                    color: #fff;
                    padding: 16px 71px 18px 19px;
                }

                &:hover {
                    cursor: pointer;
                    background: linear-gradient(
                        101.05deg,
                        #1f8ebe -5.36%,
                        #440495 29.46%,
                        #440495 56.03%,
                        #b102cd 81.92%
                    );
                    border-radius: 16px;
                }
            }

            #protocols {
                // width: 15vw;
                display: flex;
                // border: 2px solid red;
                width: 233px;
                height: 56px;
                border-radius: 16px;
                img {
                    padding: 16px 0px 16px 25px;
                }
                p {
                    font: normal 500 18px/ 22px "Inter, sans-serif";
                    color: #fff;
                    padding: 16px 71px 18px 19px;
                }

                &:hover {
                    cursor: pointer;
                    background: linear-gradient(
                        101.05deg,
                        #1f8ebe -5.36%,
                        #440495 29.46%,
                        #440495 56.03%,
                        #b102cd 81.92%
                    );
                    border-radius: 16px;
                }
            }

            #settings {
                // width: 15vw;
                // border: 2px solid red;
                display: flex;
                width: 233px;
                height: 56px;
                border-radius: 16px;
                img {
                    padding: 16px 0px 16px 25px;
                }
                p {
                    font: normal 500 18px/ 22px "Inter, sans-serif";
                    color: #fff;
                    padding: 16px 71px 18px 19px;
                }

                &:hover {
                    cursor: pointer;
                    background: linear-gradient(
                        101.05deg,
                        #1f8ebe -5.36%,
                        #440495 29.46%,
                        #440495 56.03%,
                        #b102cd 81.92%
                    );
                    border-radius: 16px;
                }
            }

            #profile {
                // width: 15vw;
                display: flex;
                // border: 2px solid red;
                width: 233px;
                height: 56px;
                border-radius: 16px;
                cursor: pointer;
                img {
                    padding: 16px 0px 16px 25px;
                }
                p {
                    font: normal 500 18px/ 22px "Inter, sans-serif";
                    color: #fff;
                    padding: 16px 71px 18px 19px;
                }

                &:hover {
                    cursor: pointer;
                    background: linear-gradient(
                        101.05deg,
                        #1f8ebe -5.36%,
                        #440495 29.46%,
                        #440495 56.03%,
                        #b102cd 81.92%
                    );
                    border-radius: 16px;
                }
            }
        }

        #box-exit-button {
            // border: 2px solid red;
            display: flex;
            // width: 15vw;
            // height: 20vh;
            align-items: flex-end;
            height: 50%;
            .exit-button {
                display: flex;
                width: 233px;
                height: 56px;
                border-radius: 16px;
                img {
                    padding: 16px 0px 16px 25px;
                }
                a {
                    font: normal 500 18px/ 22px "Inter, sans-serif";
                    text-decoration: none;
                    padding: 16px 71px 18px 19px;
                    color: #fff;
                }
                &:hover {
                    background: linear-gradient(
                        101.05deg,
                        #1f8ebe -5.36%,
                        #440495 29.46%,
                        #440495 56.03%,
                        #b102cd 81.92%
                    );
                    border-radius: 16px;
                }
            }
        }
    }
    // #center-box {
    //   width: 100px;
    //   background-color: green;
    // }
    #right-box {
        background-image: url(../Asserts/image/Ellipse8.png);
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        // border: 2px solid yellow;

        #user {
            display: flex;
            justify-content: flex-end;
            // border: 2px solid green;
        }

        .progress-box {
            // border: 2px dashed red;
            display: flex;
            flex-direction: column;
            margin-top: 36px;
            padding: 20px 30px 20px 30px;
            background: #1c1c1c;
            opacity: 0.8;
            backdrop-filter: blur(20px);
            border-radius: 16px;

            .chain-allocation {
                display: flex;
                margin-bottom: 20px;
                h4 {
                    font: normal 500 18px/ 22px "Inter, sans-serif";
                    color: #fff;
                }
            }
            #bitcoin {
                display: flex;
                flex-direction: column;
                align-content: center;
                width: 224px;
                max-height: max-content;
                .bitcoin-data {
                    display: flex;
                    justify-content: space-between;
                    #bitcoin-name-logo {
                        display: flex;
                        p {
                            font: normal 600 16px/ 19px "Inter, sans-serif";
                            color: #fff;
                            padding: 0 0 0 12px;
                        }
                    }
                    #bitcoin-values {
                        p {
                            font: normal 600 16px/ 19px "Inter, sans-serif";
                            color: #fff;
                        }
                    }
                }
                .progress-data {
                    display: flex;
                    justify-content: space-between;
                    #progress-bar {
                        display: flex;
                        align-self: flex-end;
                        width: 168px;
                        height: 8px;
                        background-color: #353535;
                        border-radius: 100px;

                        #bar-bitcoin {
                            width: 71.68%;
                            background: linear-gradient(268.5deg, #fb03f5 -11.69%, #aa9cff 112.48%);
                            border-radius: 100px;
                        }
                    }
                    #progress-values {
                        display: flex;
                        margin-top: 15px;
                        margin-left: 8px;
                        p {
                            font: normal 500 14px/ 19px "Inter, sans-serif";
                            color: #fff;
                        }
                    }
                }
            }
            #ethereum {
                display: flex;
                flex-direction: column;
                align-content: center;
                width: 224px;
                max-height: max-content;
                margin-top: 20px;
                .ethereum-data {
                    display: flex;
                    justify-content: space-between;
                    #ethereum-name-logo {
                        display: flex;
                        img {
                            background: linear-gradient(180deg, #5cff9c 0%, #00ffa3 100%);
                            border-radius: 100px;
                        }
                        p {
                            font: normal 600 16px/ 19px "Inter, sans-serif";
                            color: #fff;
                            padding: 0 0 0 12px;
                        }
                    }
                    #ethereum-values {
                        p {
                            font: normal 600 16px/ 19px "Inter, sans-serif";
                            color: #fff;
                        }
                    }
                }
                .progress-data {
                    display: flex;
                    justify-content: space-between;
                    #progress-bar {
                        display: flex;
                        align-self: flex-end;
                        width: 168px;
                        height: 8px;
                        background-color: #353535;
                        border-radius: 100px;

                        #bar-ethereum {
                            width: 71.68%;
                            background: linear-gradient(180deg, #5cff9c 0%, #00ffa3 100%);
                            border-radius: 100px;
                        }
                    }
                    #progress-values {
                        display: flex;
                        margin-top: 17px;
                        margin-left: 8px;
                        p {
                            font: normal 500 14px/ 19px "Inter, sans-serif";
                            color: #fff;
                        }
                    }
                }
            }
            #shiba {
                display: flex;
                flex-direction: column;
                align-content: center;
                width: 224px;
                max-height: max-content;
                margin-top: 20px;
                .shiba-data {
                    display: flex;
                    justify-content: space-between;
                    #shiba-name-logo {
                        display: flex;
                        p {
                            font: normal 600 16px/ 19px "Inter, sans-serif";
                            color: #fff;
                            padding: 0 0 0 12px;
                        }
                    }
                    #shiba-values {
                        p {
                            font: normal 600 16px/ 19px "Inter, sans-serif";
                            color: #fff;
                        }
                    }
                }
                .progress-data {
                    display: flex;
                    justify-content: space-between;
                    #progress-bar {
                        display: flex;
                        align-self: flex-end;
                        width: 168px;
                        height: 8px;
                        background-color: #353535;
                        border-radius: 100px;

                        #bar-shiba {
                            width: 71.68%;
                            background: linear-gradient(268.5deg, #fb035c -11.69%, #fa9fa5 112.48%);
                            border-radius: 100px;
                        }
                    }
                    #progress-values {
                        display: flex;
                        margin-top: 15px;
                        margin-left: 8px;
                        p {
                            font: normal 500 14px/ 17px "Inter, sans-serif";
                            color: #fff;
                        }
                    }
                }
            }
            #solona {
                display: flex;
                flex-direction: column;
                align-content: center;
                width: 224px;
                max-height: max-content;
                margin-top: 20px;
                .solona-data {
                    display: flex;
                    justify-content: space-between;
                    #solona-name-logo {
                        display: flex;
                        p {
                            font: normal 600 16px/ 19px "Inter, sans-serif";
                            color: #fff;
                            padding: 0 0 0 12px;
                        }
                    }
                    #solona-values {
                        p {
                            font: normal 600 16px/ 19px "Inter, sans-serif";
                            color: #fff;
                        }
                    }
                }
                .progress-data {
                    display: flex;
                    justify-content: space-between;
                    #progress-bar {
                        display: flex;
                        align-self: flex-end;
                        width: 168px;
                        height: 8px;
                        background-color: #353535;
                        border-radius: 100px;

                        #bar-solona {
                            width: 71.68%;
                            background: linear-gradient(268.5deg, #fb03f5 -11.69%, #aa9cff 112.48%);
                            border-radius: 100px;
                        }
                    }
                    #progress-values {
                        display: flex;
                        margin-top: 15px;
                        margin-left: 8px;
                        p {
                            font: normal 500 14px/ 17px "Inter, sans-serif";
                            color: #fff;
                        }
                    }
                }
            }
            #tether {
                display: flex;
                flex-direction: column;
                align-content: center;
                width: 224px;
                max-height: max-content;
                margin-top: 20px;
                .tether-data {
                    display: flex;
                    justify-content: space-between;
                    #tether-name-logo {
                        display: flex;
                        p {
                            font: normal 600 16px/ 19px "Inter, sans-serif";
                            color: #fff;
                            padding: 0 0 0 12px;
                        }
                    }
                    #tether-values {
                        p {
                            font: normal 600 16px/ 19px "Inter, sans-serif";
                            color: #fff;
                        }
                    }
                }
                .progress-data {
                    display: flex;
                    justify-content: space-between;
                    #progress-bar {
                        display: flex;
                        align-self: flex-end;
                        width: 168px;
                        height: 8px;
                        background-color: #353535;
                        border-radius: 100px;

                        #bar-tether {
                            width: 71.68%;
                            background: linear-gradient(268.5deg, #50af95 -11.69%, #00ffb9 112.48%);
                            border-radius: 100px;
                        }
                    }
                    #progress-values {
                        display: flex;
                        margin-top: 15px;
                        margin-left: 8px;
                        p {
                            font: normal 500 14px/ 17px "Inter, sans-serif";
                            color: #fff;
                        }
                    }
                }
            }

            #button {
                width: 224px;
                height: 39px;
                margin-top: 32px;
                background-color: #282828;
                border: none;
                cursor: pointer;
                border-radius: 12px;
                font: normal 500 16px/ 19px "Inter, sans-serif";
                color: #fff;
            }
        }

        .join {
            padding: 5px 7px 6px 7px;
            margin-top: 30px;
            background-color: #1c1c1c;
            border-radius: 16px;
            // border: 2px dashed #fa9fa5;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h4 {
                margin-top: 5px;
                font: normal 700 16px/ 19px "Inter, sans-serif";
                color: #fff;
            }

            p {
                margin-top: 3px;
                font: normal 400 10px/ 19px "Inter, sans-serif";
                color: #fff;
            }

            #join-button {
                margin-top: 6px;
                padding: 10px 80px 9px 79px;
                cursor: pointer;
                border: none;
                background-color: #282828;
                border-radius: 12px;
                color: #fff;
            }
        }
    }
}
